.event.json
.cr-release-packages/

# intellij
.idea/*
*.iml
*.iws

# vscode
.vscode/

# macos
.DS_Store

#dev area
_dev/
/telicent.yaml
/before.yaml
/after.yaml
/values.yaml
/install.yaml
/template.yaml
**/*.tgz
**/charts/*.tgz
**/charts/**/charts/*.tgz
**/charts/**/charts/**/charts/*.tgz

# Metadata updater python script
.dev/metadata-updater.py
.dev/readme-generator-for-helm
